* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

.calculator {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20%;
}

.display {
  background-color: #d6d6cd;
  padding: 20px;
  width: 500px;
  align-self: center;
  border-radius: 10px;
  text-align: right;
}

.btn-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-self: center;
  width: 500px;
  gap: 10px;
}

.btn {
  padding: 20px;
  background-color: #eeeee4;
  text-align: center;
  cursor: pointer;
  border-radius: 10px;
}

.btn:active {
  filter: brightness(85%);
}

.op {
  background-color: #abdbe3;
}

.equals {
  background-color: #76b5c5;
}